{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": { "version": 3, "proposals": true },
        "useBuiltIns": "usage",
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        "istanbul",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
